/* ------------------------------ HERO --------------------------------*/

nav {
  padding: 2rem;
}

nav ul {
  gap: 5rem
}

/* ------------------------------ HERO --------------------------------*/

.hero {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  height: 85%;
  width: 100%;
}

.left-side {
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.logo {
  flex: 1;
  padding-left: 4rem;
  padding-top: 8rem;
  font-family: Signature;
  font-size: clamp(8rem, 6rem + 6.667vw, 14rem);
}

.restaurant {
  font-family: 'Karla';
  font-weight: 300;
  letter-spacing: 2.8rem;
  font-size: clamp(0.9rem, 0.8rem + 0.333vw, 1.2rem);
  text-align: center;
}

.socials {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 6rem;
  padding-bottom: 2rem;
}

.socials a {
  height: 40px;
  width: 40px;
}

.instagram {
  flex: 40px;
  height: 40px;

  background-image: url(../images/instagram.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  flex: 40px;
  height: 40px;

  background-image: url(../images/facebook.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tripadvisor {
  flex: 40px;
  height: 40px;

  background-image: url(../images/tripadvisor.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img-container1 {
  flex: 1;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero-background {
  height: 100%;
  width: 80%;

  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-plate {
  position: absolute;
  top: 20%;
  left: -25%;
  height: 75%;
  width: 100%;
  
  background-image: url(../images/hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------- TEXT-PICT ----------------------------------- */

.text-pic {
  height: auto;
  width: 100%;
  margin-top: 15rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 auto;
  max-width: 70ch;
  padding: 0 1.5rem;
}

.img-container2 {
  flex: 700px;
  width: 80%;
  min-width: 400px;
  position: relative;
  margin-top: 5rem;
  z-index: 1;

  background-image: url(../images/piedra.jpg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.picture {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5%;
  left: -5%;

  background-image: url(../images/home2.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------- ART-1 ----------------------------------- */

.art-title {
  margin-top: 10rem;
}

.art-title p {
  height: 200px;
  font-family: Signature;
  font-size: 9rem;
  color: #333;
  text-align: center;
}

.art-text-img1 {
  height: auto;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.ghost1 {
  flex: 1;
  height: 0;
}

.art-img1 {
  height: 800px;
  flex: 1;
  min-width: 500px;

  background-image: url(../images/home3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-text1 {
  flex: 1;
  max-width: 630px; 
  padding-right: 5%;
  padding-left: 2%;
}

/* -------------------------------------- ART-2 ----------------------------------- */

.art-text-img2 {
  height: auto;
  width: 100%;
  padding: 0 10%;
  margin-top: 10rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.art-text2 {
  flex: 20%;
  height: auto;
  padding-right: 15%;
}

.art-img2 {
  flex: 10%;
  height: 310px;
  min-width: 200px;

  background-image: url(../images/home4.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* -------------------------------------- ART-3 ----------------------------------- */

.art-text-img3 {
  height: auto;
  width: 100%;
  margin-top: 10rem;
  padding: 0 10%;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.art-img3 {
  flex: 2;
  height: 600px;

  background-image: url(../images/home5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art-text3 {
  flex: 1;
  height: 600px;
  padding: 0 2%;

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.boton {
  margin-top: 2rem;
}

.boton:hover {
  color: white; 
}

.boton .arrow {
  height: 20px;
  width: 20px;

  fill: #333;
  transition: background-image 0.3s ease; 
}

.boton:hover .arrow {
  height: 20px;
  width: 20px;
  fill: white;
  z-index: 1;
}

/* -------------------------------------- CHEF ----------------------------------- */

.chef {
  width: 100%;
  height: auto;
  background-color: #333;
  color: white;
  margin-top: 8rem;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.title {
  flex: 4;
  width: 100%;
  padding-top: 12rem;
  padding-left: 15%;
  text-align: left;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
}

.thesecret {
  font-family: Signature;
  font-size: clamp(8rem, 6.667rem + 4.444vw, 12rem);
}

.chef-name {
  font-family: 'newyork';
  font-size: clamp(2.5rem, 2.167rem + 1.111vw, 3.5rem);
  text-transform: uppercase
}

.chef-text-img {
  flex: 8;
  width: 100%;
  padding-left: 20%;
  padding-top: 6rem;
  padding-bottom: 6rem;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.chef-img {
  height: 800px;
  flex: 1;

  background-image: url(../images/chef1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.chef-text {
  flex: 1;
  padding-top: 8rem;
  padding-right: 10%;
  padding-left: 2%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.chef-text p {
  font-weight: 300;
}

.chef-text p span {
  font-weight: 500;
}

/* -------------------------------------- IMGS3 ----------------------------------- */

.img-container3 {
  margin-top: 8rem;
  width: 50%;
  height: 80%;
  position: relative;

  background-image: url(../images/interior1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rest-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4rem;
  left: 90%;

  background-image: url(../images/interior2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------------------------MEDIAQUERY ----------------------- */

@media screen and (max-width: 1593px) {
  nav {
    margin-bottom: 5rem;
  }
  .hero {
    flex-flow: column;
    align-items: center;
  }
  .left-side {
    padding-top: 4rem;
  }
  .logo {
    padding-top: 8rem;
    padding-left: 0;
  }
  .socials {
    margin-top: 8rem;
  }
  .img-container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
  }
  .hero-background {
    width: 90%;
    height: 50vh;

    background-image: url(../images/hero2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-plate {
    display: none;
  }
  .text {
    margin-top: 16rem;
  }
  .text-pic {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 725px) {
  .hero {
    height: auto;
  }
  .left-side {
    padding-top: 0;
  }
  .logo {
    padding-left: 0;
    padding-top: 0;
  }
  .socials {
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 6rem;
  }
  .socials a {
    width: 30px;
    height: 30px;
  }
  .text-pic {
    margin-top: 1rem;
  }
  .img-container1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .img-container2 {
    flex: 400px;
  }
  .art-img2 {
    width: 80%;
    background-position: 60% 50%;
  }
  .chef-text-img {
    padding-left: 5%;
    padding-right: 5%;
  }
  nav ul {
    gap: 3rem
  }
}

@media screen and (max-width: 1000px) {
  .restaurant {
    letter-spacing: 1.8rem;
  }
}

@media screen and (max-width: 1312px) {
  .text-pic {
    justify-content: flex-start;
  }
  .chef-text-img {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .chef-img {
    flex: 700px;
    width: 100%;
  }
  .chef-text {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .img-container2 {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .text {
    padding: 0 7%;
  }
  .art-text2 {
    padding: 0 2%;
  }
}

@media screen and (max-width: 955px) {
  .art-text-img1 {
    height: 900px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .ghost1 {
    display: none;
  }
  .art-img1 {
    min-width: 400px;
    flex: 2;
  }
  .art-text1 {
    flex: 1;
    padding: 0 7%;
    margin-top: 4rem;
  }
  .art-text-img2 {
    margin-top: 0;
    padding-top: 0;
  }
}

@media screen and (max-width: 1388px) {
  .art-text-img2 {
    padding-top: 4rem;
    margin-top: 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .art-text2 {
    flex: 300px;
    width: 100%;
    padding-right: 2%;
    padding-left: 0%;
    margin-top: 4rem;
  }
  .art-img2 {
    background-size: cover;
    background-position: 75% 50%;
    flex: 500px;
    width: 100%;
  }
}

@media screen and (max-width: 875px) {
  .art-text-img3 {
    margin-top: 4rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .art-img3 {
    flex: 400px;
    width: 100%;
  }
  .art-text3 {
    margin-top: 4rem;
    padding: 0 5%;
  }
}

@media screen and (max-width: 525px) {
  .title {
    padding-left: 5%;
  }
  .chef-text {
    padding-left: 5%;
  }
}

@media screen and (max-width: 1510px) {
  .img-container3 {
    width: 80%;
    margin-bottom: 35rem;
  }
  .rest-img {
    width: 60%;
    height: 60%;
    left: 20%;
    top: 90%;
  }
}

@media screen and (max-width: 1138px) {
  .img-container3 {
    width: 100%;
  }
  .rest-img {
    width: 100%;
    height: 70%;
    left: 0;
  }
}

@media screen and (max-width: 656px) {
  .img-container3 {
    background-size: contain;
    margin-bottom: 16rem;
  }
  .rest-img {
    background-size: contain;
    top: 65%;
  }
}